.control-label.text-left
  text-align left
  font-weight normal
.glyphicon
  margin-left 10px
  top 3px

.btn-green
  background-color #a0be37
  color #fff
  &.full-width
    width 100%
  &:hover
    background-color #a0be10
    color #fff

.btn-pink
  background-color #c8415f
  color #fff
  &.full-width
    width 100%
  &:hover
    background-color #c8415f
    color #fff

.btn
  &.full-width
    width 100%
  &.full-width-80
    width 80%

.btn-orange
  font-weight bold
  background-color #f9ae40
  color #fff
  &:hover
    background-color #f9ae40
    color #fff

.table>tbody>tr>td
.table>tbody>tr>th
.table>tfoot>tr>td
.table>tfoot>tr>th
.table>thead>tr>td
.table>thead>tr>th
  vertical-align middle
  &.pink-color
    color #c8415f

.no-padding
  padding 0 !important