@import "define.styl"

.form-forgot-password
  @extend .form
  .div-instruction
    margin 0 auto
    width 90%
    @extend .p-grey-text
  input[type="email"]
    @extend .input-round
  .button-send
    @extend .button-big-green