.instructor-avatar-wrapper
  border-right 2px solid #ebebeb
.instructor-badge
  border: 3px solid #a0be37
  color: #a0be37
  width: 130px
  height: 130px
  padding-top: 20px
  margin: 5px auto
  border-radius 1000px
  h2
    font-size: 3rem
    margin: 0
  .glyphicon
    margin 0
  p
    color black
    font-size 1rem
