@import "define.styl"

.form-password-reset
  @extend .form
  .div-instruction
    margin 0 auto
    width 90%
    @extend .p-grey-text
  input[type="password"]
    @extend .input-round
  .button-reset
    @extend .button-big-green