body
  margin 0
  padding 0
  .content
    background url("../images/bg.png") no-repeat 100% 100%
    background-size cover
    min-height 100vh

@import "predefine/*.styl"
@import "cssload.styl"
@import "define.styl"
@import "header.styl"
@import "profile.styl"
@import "bootstrap_override.styl" 
@import "instructor.styl"
@import "schedule.styl"
@import "fullcalendarOverride.styl"

.debug
  display none
  @extend .color-pink