<script src='//maps.googleapis.com/maps/api/js?libraries=places'></script>
<script src="../bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
<link rel="stylesheet" href="../bower_components/angular-google-places-autocomplete/src/autocomplete.css">

<!--
angular.module('appName', ['google.places'])
Use in code
<input type="text" data-ng-model="abc" g-places-autocomplete force-selection="true">

Google location

{
"address_components": [
{
"long_name": "131",
"short_name": "131",
"types": [
"street_number"
]
},
{
"long_name": "Bourke Street",
"short_name": "Bourke St",
"types": [
"route"
]
},
{
"long_name": "Melbourne",
"short_name": "Melbourne",
"types": [
"locality",
"political"
]
},
{
"long_name": "Victoria",
"short_name": "VIC",
"types": [
"administrative_area_level_1",
"political"
]
},
{
"long_name": "Australia",
"short_name": "AU",
"types": [
"country",
"political"
]
},
{
"long_name": "3000",
"short_name": "3000",
"types": [
"postal_code"
]
}
],
"adr_address": "<span class=\"street-address\">131 Bourke St</span>, <span class=\"locality\">Melbourne</span> <span class=\"region\">VIC</span> <span class=\"postal-code\">3000</span>, <span class=\"country-name\">Australia</span>",
"formatted_address": "131 Bourke St, Melbourne VIC 3000, Australia",
"geometry": {
"location": {
"lat": -37.812888,
"lng": 144.96944600000006
}
},
"icon": "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
"id": "4e11188cd5a864a95e65a21d1e653dd085bd4cfa",
"name": "131 Bourke St",
"place_id": "ChIJ3S7NUshC1moRSYi_e77jMz0",
"reference": "CpQBigAAAEUt7ObbwJJ55y-n6RTGdTL3zydNVk7mwAK0uB8Ws78xsezEEzIRDJTtT06svbDD2HKClQrszW1Msb6AT149JNdI5pRqLR5LnpHvuKD0FQqyDWi0X8lGFsvzm90Owxf5_U6toQ1AQNwht9cI_9fht10nK1bPXrwmkT2bgsrzI50tlnB8kyeCGeJ56o9_siY5yBIQ3hgb7kMYhdFf2smWHIzoHhoUBP-4a1ZQferbpTHkM2vE4WRwGXM",
"scope": "GOOGLE",
"types": [
"street_address"
],
"url": "https://maps.google.com/?q=131+Bourke+St,+Melbourne+VIC+3000,+Australia&ftid=0x6ad642c852cd2edd:0x3d33e3be7bbf8849",
"vicinity": "Melbourne",
"html_attributions": []
}

-->